h1, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
}

h1 {
    font-size: 40px;
}

.recipes {
    background-color: #9afddc;
    font-family: Arial, Helvetica, sans-serif;
}

.recipes a{
    background-color: #1641cf;
    color: white;
}

.ingredients, .directions {
    font-size:small;
}

.ingredients {
    font-family:'Courier New', Courier, monospace;
}

